ul {
  color: blue;
}
li[kieu="dacbiet"]:hover {
  color: green;
}
li[kieu="dacbiet"]::before {
  content: "Đặc biệt: ";
}
li[kieu="dacbiet"]::after {
  content: " <<< ";
}
li:nth-child(2n + 1)::before {
  content: "Lẻ: ";
}
li:nth-child(even)::before {
  content: "Chẵn:";
}
