body {
  font-size: 20px;
  font-style: Comic Sans MS;
}
#first {
  display: block;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  width: 500px;
}
div {
  background-color: yellow;
  margin: 0px 0px 5px 5px;
  width: 300px;
}
.second {
  font-weight: bold;
  color: red;
  width: 400px;
}
#special {
  background-color: black;
  font-weight: none;
  font: italic 30px "Times New Roman";
  color: white;
}
